*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    width: 100%;
    height: 80px;
    background-color: #5DA700;
}
.logo img{
    float:left;
    width: 60px;
    margin-top:10px;
    margin-left: 20px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top:25px;  
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;  
}
ul li a:hover{
    color: #000000;
    text-decoration: underline;
}
ul li ul li{
    display: none;
}
.nama{
    margin-left: 100px;
    color: #ffff;
    letter-spacing: 2px;
    padding-top: 10px;
}
.nama h1{
    font-size: 16px;
}
.nama h2{
    font-size: 16px; 
}
.nama h3{
    font-size: 16px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top:25px;  
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;  
}
ul li a:hover{
    color: #000000;
}
ul li ul li{
    display: none;
}
.satu{
    margin-top: 50px;
    padding-top: 0px;
    margin-left: 200px;
    text-align:center;
}
.satu img{
    width: 600px;
}
.dua{
    margin-top: 150px;
}
.isidua{
    text-align: center;
    margin-left:50px;
    margin-right: 50px;
}
.tiga{
    margin-top: 200px;
    text-align: center;
}
.container {
    margin-left: 300px;
    margin-right: 50px; 
    width: 50%;
    background-color: #f2f2f2;
}
.Bulan {
    padding-top: 10px;
    color: white;
}
.Januari{
    width: 80%; background-color:  #fbb732;
}
.Februari {
    width: 85%; background-color:  #fbb732;
}
.Maret {
    width: 70%; background-color:  #fbb732;
}
.April {
    width: 20%; background-color:#fbb732;
}
.Mei {
    width: 25%; background-color:  #fbb732;
}
.Juni{
    width: 35%; background-color:  #fbb732;
}
.Juli {
    width: 40%; background-color:  #fbb732;
}
.Agustus {
    width: 39%; background-color:  #fbb732;
}
.September {
    width: 45%; background-color:#fbb732;
}
.Oktober {
    width: 50%; background-color:  #fbb732;
}
.column{
    margin-left: 130px;
    margin-top: 20px;
    float: left;
    width: 35%;
    padding: 2px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.isiempat{
    margin-top: 150px;
}
.isiempat, .isiempat2{
    text-align:center;
    margin-right:50px;
    margin-left:50px;
}
.column2{
    margin-left: 170px;
    margin-top: 20px;
    float: left;
    width: 30%;
    padding: 2px;
}
.row2::after{
    content: "";
    clear: both;
    display: table;
}
.pencapaian2, .pencapaian3, .pencapaian6{
    background-color:#fbb732 ;
    color: white;
    text-align: center;
}
.pencapaian1, .pencapaian4, .pencapaian5{
    background-color:#5DA700 ;
    color: white;
    text-align: center;
}
footer{
    width: 100%;
    height: 20px;
    background-color: #5DA700 ;
    margin-top: 100px;
}
footer h5{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 25%;
    margin-bottom: 10px;
}
footer p{
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
    float: left;
    margin-left: 27.5%;
    margin-bottom: 2%;
}
footer .booking{
    float: right;
    margin-right: 25%;
    font-size: 20px;
    text-align: center;
}
footer .booking p{
    font-size: 15px;
    margin-top: 50px;
}
footer .booking li a{
    background-color: #fbb732;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 70px;
    text-decoration: none;
    width: 80px;
}